@model List<EducationApplication.ViewModel.ViewModels.Certificate.CertificatesVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EducationLayout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap4-toggle.min.css" rel="stylesheet" />
<div class="row mrg-top30">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Certificate List</h5>
            </div>
            <div class="card-body">
                <div class="col-md-12">                    
                    <button class="btn btn-success" onclick="window.location.href='/Certificate/Assign'">+ Add</button>
                </div>
                <hr />
                <!--tables-->
                <div class="table-responsive">
                    <table id="example" class="table table-striped dt-responsive nowrap"
                           style="width: 100%; cellspacing: 0;">
                        <thead>
                            <tr>
                                <th>Student Name</th>
                                <th>School Name</th>
                                <th>Student ID</th>
                                <th>Certificate Type</th>
                                <th>Change Status</th>
                                <th>Settings</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Student Name</th>
                                <th>School Name</th>
                                <th>Student ID</th>
                                <th>Certificate Type</th>
                                <th>Change Status</th>
                                <th>Settings</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach(var item in Model)
                             {
                            <tr>
                                <td>@item.FullName</td>
                                <td>University of Westminister</td>
                                <td>@item.PINFL</td>
                                <td>@item.CertificateType</td>
                                <td>
                                    @{ string id = "toggle" + item.Id;
                                        string ch = item.StatusID == 1 ? "checked" : "";
                                    }
                                    <input type="checkbox" data-toggle="toggle" data-on="Active" data-off="Inactive" @ch id="@id" onchange="changeStatus(@item.Id, '@id')">
                                </td>
                                <td>
                                    @Html.ActionLink("View", "Details", "Certificate", new { id = item.Id }, new { @class = "btn btn-info" })
                                </td>
                            </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
                <!----->
            </div>
            <!---->
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/datatable.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap4-toggle.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
        $('#toggle-one').bootstrapToggle();
    });
    function changeStatus(Id, elemid) {
        var val = $('#' + elemid).prop("checked");
        $.ajax({
            url: '/Certificate/ChangeStatus',
            data: { id: Id, value: val },
            success: function (res) {
                if (res != null) {
                    $('#' + Id).html(res);
                }
                else { alert("failed"); }
            }
        });
    };
</script>
