@model EducationApplication.ViewModel.ViewModels.Payment.InvoiceCreateVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EducationLayout.cshtml";
}

<div class="row mrg-top30">
    <div class="col-md-12">
        @using (Html.BeginForm("Create", "Payment", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="card">
                <div class="card-header">
                    <h5>Create Payment</h5>
                </div>
                <div class="card-body">
                    <div class="form-inline">
                        <div class="col-md-12 form-group mrg-top10">
                            @Html.LabelFor(m => m.studentList, htmlAttributes: new { @class = "col-md-3 control-label required", @style = "font-weight:bold" })
                            @Html.DropDownListFor(model => model.studentList, ViewBag.StudentList as List<SelectListItem>, new { @class = "col-md-6 form-control" })
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="col-md-12 form-group mrg-top10">
                            <label class="col-md-3 control-label" for="Title"><b>School Name:</b></label>
                            <select class="col-md-6 form-control">
                                <option>--Select--</option>
                                <option>Tashkent University of Technology</option>
                                <option>University of Westminister</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="col-md-12 form-group mrg-top10">
                            @Html.LabelFor(m => m.Amount, htmlAttributes: new { @class = "control-label required col-md-3", @style = "font-weight:bold" })
                            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control col-md-6", @placeholder = "Insert here.." })
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-inline">
                        <ul class="radio-style offset-md-3 col-md-3 mrg-top10">
                            <li>
                                @Html.RadioButtonFor(m => m.isCashCard, true, new { @checked = true })<span> Cash</span>
                            </li>
                            <li>
                                @Html.RadioButtonFor(m => m.isCashCard, false, new { @checked = true })<span> Card</span>
                            </li>
                        </ul>

                    </div>
                </div>

                <hr />
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" name="create" class="btn btn-success btn-md" @*style="float:right"*@ value="Create">
                        <input type="reset" name="cancel" class="btn btn-danger btn-md" @*style="float:right"*@ value="Close">
                    </div>
                </div>
            </div>
        }
        </div>
</div>
