@model List<EducationApplication.ViewModel.ViewModels.Users.UserRoleVM>
@{
    Layout = null;
}


<div class="table-responsive">
    <table id="myAlldepartment" class="table table-striped">
        <thead>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Username
                </th>
                <th>
                    Full Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>

            @{
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <button class="btn btn-info" onclick="location.href='@Url.Action("AssignRole", "Account", new  {id =item.Id })'">View</button>
                            @*@Html.ActionLink("View User", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                        </td>
                    </tr>
                }
              }
             </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#myAlldepartment').DataTable();
    });
</script>