@model EducationApplication.ViewModel.ViewModels.Account.LoginVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EducationLayout.cshtml";
}
<link href="~/css/login.css" rel="stylesheet" />
<div id="login">
    @using (Html.BeginForm())
    {
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        <h3 class="text-center text-logo">Login</h3>
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "control-label" })<br/>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })<br />
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <span class="message-color">@TempData["error"]</span>
                        <br/>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                        </div>
                        <div id="register-link" class="text-right">
                            @Html.ActionLink("Register here", "Registration", new { /* id=item.PrimaryKey */ })
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    }
</div>