@model List<EducationApplication.ViewModel.ViewModels.Account.RoleVM>
@*@model List<EducationApplication.Model.Models.Role>*@

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_EducationLayout.cshtml";
}
<link href="~/lib/bootstrap/dist/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<div class="row mrg-top30">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>All Roles</h5>
            </div>
            <div class="card-body">
                @*@Html.ActionLink("Create new role", "RolesCreate", "Account", null, new { @class = "btn btn-info" })*@
                <button class="btn btn-success" onclick="location.href='@Url.Action("RolesCreate", "Account")'"><i class="fa fa-plus"></i> Create new role</button>
                <hr />
                <div class="row">
                    <div class="col-md-5">
                        <div class="table-responsive">
                            <table id="myadmintable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            RoleID
                                        </th>
                                        <th>
                                            Role Name
                                        </th>
                                        <th>
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Id)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                <td>
                                                    <button class="btn btn-primary" onclick="location.href='@Url.Action("RolesEdit", "Account")'">Edit</button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div id="dyamicContainer"></div>
                    </div>
                </div>
                @Html.ActionLink("Go Back", "Index", "Home")
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/datatable.js"></script>
<script>
    $(document).ready(function () {
        $('#myadmintable').DataTable();
        $('#myAlldepartment').DataTable();

        $.get('@Url.Action("LoadUserPartailList", "Account")', function (content) {
            $("#dyamicContainer").html(content);
        });
    });

</script>
