@model List<EducationApplication.ViewModel.ViewModels.Student.StudentsInfoVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EducationLayout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<div class="row mrg-top30">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Student List</h5>
            </div>
            <div class="card-body">
                <!--tables-->
                <div class="table-responsive">
                    <table id="example" class="table table-striped dt-responsive nowrap"
                           style="width: 100%; cellspacing: 0;">
                        <thead>
                            <tr>
                                <th>Student Name</th>
                                <th>PINFL</th>
                                <th>Address</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Settings</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Student Name</th>
                                <th>PINFL</th>
                                <th>Address</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Settings</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.FirstName @item.LastName</td>
                                    <td>@item.PINFL</td>
                                    <td>@item.Adress</td>
                                    <td>@item.Phone</td>
                                    <td>
                                        @switch(item.Status)
                                        {
                                            case 1:
                                            <p style="color:green">Active</p>
                                            break;
                                            case 2:
                                            <p style="color:red">Inactive</p>
                                            break;
                                            default:
                                            <p></p>
                                            break;
                                        }
                                    </td>
                                    <td> @Html.ActionLink("View","Details", "Student", new { id=item.ID },new { @class= "btn btn-info" }) @*<button class="btn btn-info">View</button>*@</td>
                                </tr>
                            }
                          
                        </tbody>
                    </table>
                </div>
                <!----->
            </div>
            <!---->
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/datatable.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
                                        });
</script>