@model EducationApplication.ViewModel.ViewModels.Grant.GrantVM
@{
    ViewData["Title"] = "Assign";
    Layout = "~/Views/Shared/_EducationLayout.cshtml";
}
<link href="~/lib/fonts/font-awesome.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/moment.min.js"></script>
<script src="~/lib/bootstrap/dist/js/tempusdominus-bootstrap-4.min.js"></script>
<link href="~/lib/bootstrap/dist/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    <div class="row mrg-top30">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Assign grant</h5>
                </div>
                <div class="card-body">
                    <!--tables-->
                    <div class="form-inline">
                        <div class="col-md-12 form-group mrg-top10">
                            <label class="col-md-3 control-label" for="Title"><b>Student Name:</b></label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(m => m.UserID, ViewBag.StudentsList as List<SelectListItem>, "--------- Select Student ---------", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="col-md-12 form-group mrg-top10">
                            <label class="col-md-3 control-label" for="Title"><b>School Name:</b></label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(m => m.SchoolId, ViewBag.SchoolList as List<SelectListItem>, "--------- Select School ---------", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.SchoolId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="col-md-12 form-group mrg-top10">
                            <label class="col-md-3 control-label" for="Title"><b>Grant Type:</b></label>
                            @Html.DropDownListFor(m => m.GrantTypeId, ViewBag.GrantTypeslist as List<SelectListItem>, "--------- Select Grant Type ---------", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.GrantTypeId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="col-md-12 form-group mrg-top10">
                            <label class="col-md-3 control-label" for="Title"><b>Registration Number:</b></label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.RegistrationNumber, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.RegistrationNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="col-md-12 form-group mrg-top10">
                            <label class="col-md-3 control-label" for="Title"><b>Amount:</b></label>
                            <div class="col-md-3">
                                @Html.EditorFor(m => m.Amount, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                @Html.HiddenFor(m => m.StatusID)
                <hr />
                <div class="form-group">
                    <input type="reset" name="create" class="btn btn-success btn-md" @*style="float:right"*@ value="Assign">
                    <input type="reset" name="create" class="btn btn-light btn-md" @*style="float:right"*@ value="Reject">
                    <input type="reset" name="cancel" class="btn btn-danger btn-md" @*style="float:right"*@ value="Close">
                </div>
                <!----->
            </div>
            <!---->
        </div>
    </div>

}
<script>
    $(document).ready(function () {
        $('#datetimepicker1').datetimepicker();
</script>