@model List<EducationApplication.ViewModel.ViewModels.Grant.GrantVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EducationLayout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<div class="row mrg-top30">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Grant List</h5>
            </div>
            <div class="card-body">
                <!--tables-->
                <div class="col-md-12">
                    <button class="btn btn-success" onclick="window.location.href='/Grant/Assign'">+ Add</button>
                </div>
                <hr />
                <div class="table-responsive">
                    <table id="example" class="table table-striped dt-responsive nowrap"
                           style="width: 100%; cellspacing: 0;">
                        <thead>
                            <tr>
                                <th>Student Name</th>
                                <th>School Name</th>
                                <th>Student ID</th>
                                <th>Amount</th>
                                <th>Grant Type</th>
                                <th>Status</th>
                                <th>Change Status</th>
                                <th>Settings</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Student Name</th>
                                <th>School Name</th>
                                <th>Student ID</th>
                                <th>Amount</th>
                                <th>Grant Type</th>
                                <th>Status</th>
                                <th>Change Status</th>
                                <th>Settings</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.FullName</td>
                                <td>University of Westminister</td>
                                <td>@item.PINFL </td>
                                <td>@item.Amount </td>
                                <td>@item.GrantType </td>                               
                                <td id="@item.Id">@item.Status</td>
                                <td>
                                    <button class="btn btn-info" onclick="changeStatus(@item.Id)">Change</button>
                                </td>
                                <td>
                                    @Html.ActionLink("View", "Details", "Grant", new { id = item.Id }, new { @class = "btn btn-info" })
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!----->
            </div>
            <!---->
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/datatable.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
    function changeStatus(Id) {
        $.ajax({
            url: '/Grant/ChangeStatus',
            data: { id: Id },
            success: function (res) {
                if (res != null) {
                    $('#' + Id).html(res);
                }
                else { alert("failed"); }
            }
        });
    };
</script>