@model List<EducationApplication.ViewModel.ViewModels.School.SchoolVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EducationLayout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<div class="row mrg-top30">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>School List</h5>
            </div>
            <div class="card-body">
                <!--tables-->
                <div class="table-responsive">
                    <table id="example" class="table table-striped dt-responsive nowrap"
                           style="width: 100%; cellspacing: 0;">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Name)</th>
                                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Street)</th>
                                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Id)</th>
                                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().BuildingType)</th>
                                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().BuildingStatus)</th>
                                <th>Settings</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Name)</th>
                                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Street)</th>
                                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Id)</th>
                                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().BuildingType)</th>
                                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().BuildingStatus)</th>
                                <th>Settings</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Street)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                        <td>
                                            @if (item.BuildingType == "3")
                                            { <p>Education</p>}
                                        </td>
                                        <td>
                                            @if (item.BuildingStatus == "2")
                                            {<p style="color:green">Active</p>}
                                            else
                                            {<p style="color:red">Inactive</p> }
                                        </td>
                                        <td>
                                            <button class="btn btn-info" onclick="location.href='@Url.Action("Details", "School", new  {id =item.Id })'">View</button>
                                        </td>
                                    </tr>
                                    }
                                }
                         </tbody>
                    </table>
                </div>
                <!----->
            </div>
            <!---->
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/datatable.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>